table,tr,th,td{
    border: solid red 9px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    font-family: 'Moirai One', cursive;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  th {
    font-family: 'Kablammo', cursive;
  }
  td {
    font-family: 'Diphylleia', serif;
  }
  h1 {
    font-family: 'Moirai One', cursive;
  }
